@using SoftUniForumProject.Classes

@{
    ViewBag.Title = "Home Page";
}

@model List<SoftUniForumProject.Models.Post>

<div id="sting">Welcome to the No Man's sky blog- a science-fiction game set in an infinite procedurally generated galaxy</div>

<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-6">
            <h2 class="title"><a href="/Posts/Details/@post.Id">@post.Title</a></h2>
            <div class="about">Posted 
            @if (post.Author != null)
            {
                @:by
                <i>@post.Author.FullName (@post.Author.UserName)</i>
            }
            on <i>@post.Date</i></div>
            <div class="body">@Html.Raw(Utils.CutText(post.Body, 500))</div>
        </article>
    }
</section>